/*---RESET TO ZERO---*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*---RESET TO ZERO---*/

body {
    background: rgba(181, 194, 172, 0.534);
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 50px 0;
    background: rgba(181, 194, 172, 0.973);
    border: 4px solid rgb(255, 208, 208);
}
.header__title {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: rgb(85, 58, 58);
}
.header__subtitle {
    text-align: center;
    margin: 10px 0 0 0;
    color: rgba(10, 10, 10, 0.699);
}
.btn {
    display: block;
    text-align: center;
    padding: 5px 15px;
    margin: 10px auto;
    width: 150px;
    color: rgb(85, 58, 58);
    background-color: rgb(255, 208, 208);
    border: 1px solid rgb(94, 90, 90);
    border-radius: 3px;
}
.section__container {
    display: flex;
}
.section__block {
    text-align: center;
    padding: 10px;
    margin: 4px;
    background-color:rgba(255, 208, 208, 0.651);
    min-width: 200px;  
}
.section__title {
    font-size: 20px;
    margin: 0 0 10px 0;
}
.section_text {
    padding: 5px;
    text-align: left;
}
.footer__container {
    background-color:rgba(220, 243, 158, 0.733);
    display: flex;
    justify-content: space-around;  
    padding: 30px;
}
.footer__text {
    border: 1px solid rgb(94, 90, 90);
    padding: 10px 50px;
}
.footer__map {
    border: 1px solid rgb(94, 90, 90);
    padding: 10px 50px;
}

